.bgimg7{background: url(../data1/images/fe433e83babf31b99291c670c737762d_850.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;}


.bgimg8{background: url(../img/depositphotos_7591872-stock-illustration-black-and-gold-background-min.jpg);background-repeat: no-repeat;background-position: top;background-size: 100%; }